.ourStory{
    // height: 85vh;
    
    .posrel{
        position: relative;

    }

    .boxtopleft{
        position: absolute;
        top:0;
        left: 0;
    }
    .boxtopright{
        position: absolute;
        top:0;
        right: 0;
    }
   
    p{
        font-family: "Courgette";
        span{
            color: $redChef
        }
        padding: 0%;
        margin-bottom: 0;
        
    }
    p.display-4{
        padding: 0;
    }
    .lineBell{
        margin-top: -10px;
    }
    .bord{
        border-top: solid 2px rgba(199, 197, 197, 0.301);
        border-left: solid 2px rgba(199, 197, 197, 0.301);
        border-right: solid 2px rgba(199, 197, 197, 0.301);
    }
    .storylorem{
        line-height: 1.7;
        margin: 0 18vw;
    }
}